SHOPIFY_API_KEY="sdasdsadsad adasdsadsadsa"
SHOPIFY_API_SECRET="sdsadas dasdsadsadsa"
SHOPIFY_APP_URL="example.myshopify.com"
DATABASE_URL="file:./dev.db"
NODE_ENV="development"
PIXEL_SIGNING_SECRET="change-me-in-production"